body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebebeb;
}

header {
    background-color: #ffe600;
    padding: 15px;
}

.buscador input {
    width: 300px;
    padding: 5px;
}

.buscador button {
    padding: 5px 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px 0;
}

section {
    padding: 20px;
}

.producto {
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 250px;
}

.seccion-cards {
    padding: 20px;
}

.card {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    overflow: hidden;
}

.card-img {
    height: 150px;
    background-color: #0e0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 10px;
}

.card-body h3 {
    margin: 0;
    font-size: 1rem;
}

.card-txt {
    font-weight: bold;
    margin: 5px 0;
}

.card-body button {
    width: 100%;
    pad: 8%;
    border: none;
    background-color: #3483fa;
    color: #ffffff;
    cursor: pointer;
}